.menu-icon {
  margin: 0 14px;
  cursor: pointer;
}

.spacer {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-sidenav {
  width: 30%;
}

.mat-drawer-content {
  height: 100vh;
}

/* FORM IN MENU */

.form-menu-container {
  margin: 40px 70px;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field.date {
  width: 70%;
}
