table {
  width: 100%;
}

@-moz-document url-prefix() {
  .cancella {
    border: none;
    background-color: transparent;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .cancella {
    border: none;
    background-color: transparent;
  }
}

.mat-elevation-z8 {
  margin-top: 70px;
}
