table {
  width: 100%;
}

@-moz-document url-prefix() {
  .cancella {
    border: none;
    background-color: transparent;
  }
}

@media not all and (min-resolution:.001dpcm) {
  .cancella {
    border: none;
    background-color: transparent;
  }
}

.mat-elevation-z8 {
  margin-top: 70px;
}
